/* *{
    border: 1px solid red;
} */
#message{
    background-image: url(../images/background/Footer_BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1100px;
}
@media only screen and (min-width:768px){
    #message{
        height: 850px;
    }
}
@media only screen and (min-width:1200px){
    #message{
        height: 580px;
    }
}