/* *{
    border: 1px solid red;
} */
.orange{
    color: orange;
}
#single img{
    height: 400px;
}
.carousel-caption{
    top: 50px;
}
#services{
    background-image: url(../images/illustration/h1-bannernew.jpg);
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-position: center;
    background-size: cover;
}
#kids img{
    height: 400px;
}
#heroSection img{
    height: 500px;
}
#s-btn{
    margin-top: -60px;
    z-index: 2;
}
/* #services{
    background-image: url(/images/illustration/h1-bannernew.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */
#review{
    /* position: relative; */
    background-image: url(../images/illustration/h1-banner9.png);
    background-repeat: no-repeat;
    /* height: 1000px; */
    /* z-index: 1; */
}
#subscribe{
    position: relative;
    z-index: 1;
    margin: 100px 0px;
}
.top{
    position: relative;
    z-index: 2;
}
#cycle{
    margin-top: -900px;
    margin-left: -800px;
}
#message{
    background-image: url(../images/background/Footer_BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1100px;
}
@media only screen and (min-width:768px){
    #heroSection img{
        height: 600px;
    }
    .carousel-caption{
        top: 150px;
    }
    #message{
        height: 850px;
    }
}
@media only screen and (min-width:1200px){
    #heroSection img{
        height: 800px;
    }
    .carousel-caption{
        top: 200px;
    }
    #caro1{
        left: 150px;
    }
    #slid-img{
        margin-top: -400px;
        margin-left: 550px;
    }
    #message{
        height: 580px;
    }
}